
.tabbrowser-tab[faviconized="true"] {
   min-width: 36px;
   max-width: 36px;
}

.tabbrowser-tab[faviconized="true"] .tab-text,
.tabbrowser-tab[faviconized="true"] .tab-close-button {
   display: none !important;
}

